<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="404-content">
        Error 404!
        Oops, page not found :(
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>