<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <p>
        CineVerse is a blog all about movies. It's a place where you can explore
        and enjoy everything related to the world of cinema. 
      </p>
      <p>
        On our website, you'll find straightforward movie reviews, interesting stories, and fun
        discussions. We're here to share our love for films with you. 
        Whether you're looking for recommendations on the latest movies or want to
        discover hidden gems, we've got you covered. Our reviews are honest and
        easy to understand, helping you make informed decisions about what to
        watch.
      </p>
      <p>
        But CineVerse is more than just reviews. We also dive into the
        fascinating behind-the-scenes of filmmaking and discuss how movies
        impact our culture and society. It's a space where you can learn cool
        facts and connect with other movie fans. 
      </p>
      <p>
        So, come join us on this cinematic adventure! Sit back, relax, and let CineVerse be your go-to
        place for all things movies. Get ready to explore the amazing world of
        cinema with us!
      </p>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
